<!DOCTYPE html>
<html>
<head>
    <title>Tech Blog</title>
</head>
<body>
    <div class="form">
        <form action="/sample" method="post">
            <input type="number" name="id" placeholder="ID" required>
            <input type="text" name="username" placeholder="Username" required>
            <input type="email" name="email" placeholder="Email" required>
            <button type="submit">Submit</button>
        </form>
    </div>
    <br>
    <button onclick="location.pathname='/data'">show table</button>
</body>
</html>
